#user .submenu{
    display:block;
}
#user>a{
    color:#5999D0;
}
.totop{
    top:9px;
}

.searchbtn{
    border-radius:4px;
    height:28px;
    margin-top:-3px;
    line-height:14px;
}
.searchbot{
    position: absolute;
    top:39px;
}
table,th,tr{
    text-align: center;
}
#simple-table>td{
  line-height: 2;
}
