#critical .submenu{
	display:block;
}
#critical>a{
	color:#5999D0;
}
.totop{
	top:18px;
	margin-top: 72px;
}
.data{
		width: 30%;
		float: left;
		display: inline-block;
	}
	.register{
		margin-top: 8px;
		float: left;
		margin-right: 5px;
	}
	.searchbtn{
            border-radius:4px;
            height:28px;
            margin-top:-3px;
            line-height:14px;
        }
table,th,tr{
	text-align: center;
}
