*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}
body {
  font-size: 0.25rem;
  font-family: "Microsoft YaHei", sans-serif;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
.clearfix::before,
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.header {
  width: 10rem;
  height: 1.5625rem;
  background-color: #FE0000;
  font-size: 0.5625rem;
  line-height: 1.5625rem;
  color: #fff;
  letter-spacing: 5px;
}
.header .left {
  float: left;
  margin-left: 50px;
  color: #fff;
}
.header .right {
  float: right;
  margin-right: 50px;
}
.header .right a {
  color: #fff;
}
.banner {
  width: 10rem;
  height: 2.890625rem;
  line-height: 2.890625rem;
  text-align: center;
  font-size: 0.46875rem;
  position: relative;
  border-bottom: 4px solid #FE0000;
}
.banner img {
  width: 1.25rem;
  height: 1.25rem;
}
.banner h6 {
  position: absolute;
  display: inline-block;
  font-size: 0.46875rem;
  top: 0.78125rem;
  text-align: center;
  left: 3.59375rem;
  height: 1.25rem;
}
#email,
#password {
  width: 10rem;
  height: 1.5rem;
  font-size: 0.46875rem;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #000;
  padding-left: 1.8rem;
}
.users {
  position: absolute;
  left: 0.46875rem;
  top: 0.48rem;
  z-index: 100;
}
.userword {
  position: relative;
  font-size: 0.46875rem;
}
.logindel {
  position: absolute;
  right: 0.66rem;
  top: 0.46875rem;
  display: none;
}
.open,
.close {
  position: absolute;
  right: 0.46875rem;
  top: 0.46875rem;
}
.logindel img,
.worddel img {
  width: 0.46875rem;
  height: 0.46875rem;
}
.remember {
  width: 0.46875rem;
  height: 0.46875rem;
  position: relative;
  top: 0.08rem;
  left: 0.1rem;
}
.userword label {
  display: block;
  margin-top: 0.3rem;
}
.loginb {
  margin-top: 0.625rem;
  width: 8.90625rem;
  height: 1.09375rem;
  background-color: #FE0000;
  color: #fff;
  font-size: 0.546875rem;
  border-radius: 20px;
  outline: none;
  letter-spacing: 10px;
}
.disabled {
  background: rgba(254, 0, 0, 0.52);
  pointer-events: none;
}
.group {
  text-align: center;
}
.forget {
  font-size: 0.4rem;
  float: right;
  margin: 0.3rem 0.4rem 0 0;
}
.worddel {
  position: absolute;
  top: 0.46875rem;
  right: 1.5rem;
  display: none;
}
.open img,
.close img {
  width: 0.8875rem;
  height: 0.46875rem;
}
.open {
  display: none;
}
.help-block {
  font-size: 0.390625rem;
  color: #FE0000;
  margin-left: 1.65625rem;
}
.checkone {
  width: 2.34375rem;
  height: 0.9375rem;
  font-size: 0.46875rem;
  padding-left: 0.078125rem;
  border: 1px solid #000;
  margin: 0.3125rem;
}
.pica {
  width: 2.96875rem;
  height: 0.9375rem;
  float: right;
  margin-right: 3.828125rem;
  margin-top: 0.3125rem;
}
.errorz p {
  margin-left: 0.3rem;
  font-size: 0.390625rem;
  color: red;
}
