*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}
body {
  font-size: 0.25rem;
  font-family: "Microsoft YaHei", sans-serif;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
.clearfix::before,
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.header {
  width: 10rem;
  height: 1.5625rem;
  background-color: #FE0000;
  font-size: 0.5625rem;
  line-height: 1.5625rem;
  color: #fff;
  letter-spacing: 5px;
  text-align: center;
}
.header .left {
  margin-right: 1.5625rem;
}
.header .right {
  float: right;
  margin-right: 50px;
}
.header .right a {
  color: #fff;
}
.banner {
  width: 10rem;
  text-align: center;
  font-size: 0.46875rem;
}
.banner img {
  display: block;
  margin: 0 auto;
  margin-top: 0.34375rem;
  margin-bottom: 0.3125rem;
  width: 1.25rem;
  height: 1.25rem;
}
.chose {
  width: 10rem;
  height: 0.9375rem;
  font-size: 0.46875rem;
  border-bottom: 4px solid #FE0000;
  font-weight: bold;
}
.chose .phone {
  float: left;
  width: 5rem;
  height: 1.296875rem;
  line-height: 1.296875rem;
  text-align: center;
  border-bottom: 4px solid #FE0000;
}
.chose .email {
  float: right;
  width: 5rem;
  height: 1.296875rem;
  line-height: 1.296875rem;
  text-align: center;
}
.group {
  width: 10rem;
  height: 1.40625rem;
  line-height: 1.40625rem;
  font-size: 0.46875rem;
  position: relative;
}
.group input {
  width: 10rem;
  height: 1.40625rem;
  line-height: 1.40625rem;
  border: none;
  border-bottom: 2px solid #A0A0A0;
  outline: none;
  font-size: 0.46875rem;
  padding-left: 2.203125rem;
}
.group img {
  position: absolute;
  width: 0.78125rem;
  height: 0.78125rem;
  top: 0.359375rem;
  left: 0.71875rem;
}
.regBtn {
  margin-top: 1.09375rem;
  margin-left: 0.546875rem;
  width: 8.90625rem;
  height: 1.09375rem;
  background-color: #FE0000;
  color: #fff;
  font-size: 0.546875rem;
  border-radius: 20px;
  outline: none;
  letter-spacing: 10px;
}
.help-block {
  position: absolute;
  top: 0;
  right: 0.15625rem;
  font-size: 0.359375rem;
  color: #FE0000;
}
.imgleft {
  float: left;
  width: 0.625rem;
  margin: 0.46875rem;
}
.chose {
  text-align: center;
}
.email {
  text-align: center;
}
.disabled {
  pointer-events: none;
  background: rgba(254, 0, 0, 0.52);
}
