.return img{
  display: inline-block;
  width: 35/64rem;
  float: left;
  margin-top: 23/64rem;
  margin-left: 10/64rem;
}
.payTitle{
  display: inline-block;
  width: 100%;
  height: 88/64rem;
  line-height: 88/64rem;
  text-align: center;
  background: #FF3600;
  color: #fff;
  font-size: 30/64rem;
  font-weight: bold;
  font-family: "Microsoft YaHei", sans-serif;
}
.result{
  clear: both;
  background: #fff;
  width: 100%;
  height: 400/64rem;
}
.left{
  float: left;
  margin-left: 84/64rem;
  margin-top: 50/64rem;
}
.left img{
  width: 138/64rem;
}
.right{
  float: left;
  width: 400/64rem;
}
.payResult{
  display: inline-block;
  font-family: "Microsoft YaHei", sans-serif;
  font-weight: bold;
  font-size: 30/64rem;
  color: #ff3600;
  margin-top: 60/64rem;
  margin-left: 30/64rem;
  width: 100%;
}
.note{
  font-family: "Microsoft YaHei", sans-serif;
  color: #ccc;
  font-size:25/64rem ;
  display: inline-block;
  width: 288/64rem;
  margin-left: 30/64rem;
  margin-top: 10/64rem;
}
.bottom{
  width: 100%;
  height: 84/64rem;
  clear: both;
}
.look,.goOn{
  float: left;
  font-size: 25/64rem;
  font-family: "Microsoft YaHei", sans-serif;
  color: #000;
  display: inline-block;
  width: 160/64rem;
  height: 50/64rem;
  line-height: 50/64rem;
  border: 1px #ccc solid;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  margin-left: 100/64rem;
  margin-top: 50/64rem;
}

.addsImg{
  width: 100%;
  height: 160/64rem;
  margin-top: 15/64rem;
  background: #fff;
}
.addsImg img{
  width: 100%;
  height: 160/64rem;
}

















